# Ignore compiled object files
*.o
*.obj

# Ignore compiled dynamic libraries
*.so
*.dylib

# Ignore compiled static libraries
*.a
*.lib

# Ignore executables
a.out
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignore build directories
/build/
/bin/
/debug/
/release/

# macOS system files
.DS_Store
