# Ignore compiled object files
*.o
*.obj

# Ignore compiled dynamic libraries
*.so
*.dylib

# Ignore compiled static libraries
*.a
*.lib

# Ignore executables
a.out
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignore build directories
/build/
/bin/
/debug/
/release/

# macOS system files
.DS_Store
CP SMP Advance/Warm Up 2/Answer/E
CP SMP Advance/Warm Up 2/Answer/G
CP SMP Advance/Warm Up 3/Answer/B
CP SMP Advance/Warm Up 3/Answer/C
CP SMP Advance/Warm Up 3/Answer/E
CP SMP Advance/Warm Up 3/Answer/F
CP SMP Advance/Warm Up 3/Answer/G
CP SMP Advance/Warm Up 3/Answer/H
